.contacts li a.twitter:hover {
    color: #08a0e9;
}

.contacts li a.instagram:hover {
    color: #e4405f;
}

.about-me {
    font-weight: 100;
}

.resume-title {
    font-size: 3rem;
}

@font-face {
    font-family: 'Osake';
    src: url("../fonts/osake.otf") format("opentype");
}

.name {
    font-size: 2rem;
}

.japanese {
    font-family: 'Osake' !important;
}

ul.timeline>li>p:nth-child(odd) {
    font-weight: bold;
    line-height: 2rem;
}

.more>ul>li {
    line-height: 2rem;
    list-style: none;
}

.more>ul>li::before {
    content: "-";
    font-weight: bold;
}

.more>h3 {
    margin-top: 16px;
}