.contacts li a.twitter:hover {
    color: #08a0e9;
}

.contacts li a.instagram:hover {
    color: #e4405f;
}

.about-me {
    font-weight: 100;
}

.resume-title {
    font-size: 3rem;
}

@font-face {
    font-family: 'Osake';
    src: url("../fonts/osake.otf") format("opentype");
}

.name {
    font-size: 2rem;
}

.japanese {
    font-family: 'Osake' !important;
}